//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar 
        ul
          div#logo 
            img(src="/static/img/logo.jpeg")
            | Artmistic Art 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact us] 
    section#introsection 
        div Welcome to Payal's Art Academy
        div.small There is no must in art because art is free
    section#missionsection 
        h2 Our Mission
        div.card
          h3 To enhance people's lives through fun
          div.card-box
            div.card-img
              img(src="/static/img/1.jpeg")
            div.card-content
              p This is the best art academy of the universe
        div.card
          h3 Expression of the imagination
          div.card-box
            div.card-img
              img(src="/static/img/2.jpeg") 
            div.card-content
              p This is the best art academy of the universe 
        div.card 
          h3 Develop Your Creativity
          div.card-box
            div.card-img
              img(src="/static/img/3.jpeg")
            div.card-content
            p This is the best art academy of the universe
    section#sponsorsection 
        h2 Our sponsors 
        div#sponsors
          img(src="/static/img/logo1.png",alt="Sponsor image" class="spimage")
          img(src="/static/img/logo2.jpg",alt="Sponsor image" class="spimage")
          img(src="/static/img/logo3.jpg",alt="Sponsor image" class="spimage")
          img(src="/static/img/logo4.png",alt="Sponsor image" class="spimage")

    footer#footer 
        | Copyright © 2021 Payal'sartAcademy.com | All Rights Reserved
    script
      include ../static/index.js